* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "vazir";
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.header {
  padding: 12px;
  background-color: rgb(207, 204, 204);
  color: #000;
}
@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2");
}
.shadow {
  box-shadow: 0px 0px 6px 0px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.margin-top {
  margin-top: 16px;
}
.margin-bottom {
  margin-bottom: 16px;
}
.margin-top-bt {
  margin: 16px 0;
}
.clear {
  clear: both;
}
